/* Estilos condicionales basados en la clase dark */
.dark\:bg-dots-lighter {
    background-image: url("data:image/svg+xml,...");
}

.dark\:bg-gray-900 {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

/* Transiciones suaves */
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* Estilos globales */
#admin body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Estilos específicos para el contenido */
#content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#content li {
    margin-bottom: 10px;
}

#content a {
    color: #007bff;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

/* Estilo para los encabezados (h5) */
h5 {
    color: #0092A4; /* Color del primer stop de la gradiente lineal */
}

/* Estilo para los enlaces */
li a, td a#link{
    color: #0092A4 !important; /* Color del primer stop de la gradiente lineal */
    text-decoration: underline !important; /* Subrayado enlaces */
}

td a#link{
    color: #0092A4 !important; /* Color del primer stop de la gradiente lineal */
    text-decoration: underline !important; /* Subrayado enlaces */
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.btn {
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    margin: 0 5px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.btn.active {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.disabled.btn {
    cursor: not-allowed;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#btnSwitch {
    background: linear-gradient(135deg, #0092A5, #36A9E1);
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease;
}

#btnSwitch:hover {
    background: linear-gradient(135deg, #00788e, #30799d);
}

/* Estilos para el modo oscuro */
[data-bs-theme='dark'] #btnSwitch {
    background: linear-gradient(135deg, #29235C, #36A9E1);
}

[data-bs-theme='dark'] #btnSwitch:hover {
    background: linear-gradient(135deg, #1D3568, #36A9E1);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    #sidebar {
        display: none;
    }

    .col-md-9 {
        width: 100%;
    }

    .table,
    .table-sm,
    .table-striped {
        display: block;
        width: 100%;
        overflow: auto;
    }

    .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pagination .btn {
        flex-basis: 45%; /* Ajusta el tamaño según tus necesidades */
        margin: 5px;
    }
}
